<nav>
    <div class="nav">
        <a>
            <img src="../Resources/logo.png" style="width: 80px;" alt="logo_GetDanceNow">
        </a>
        <div class="option">
            <a href="/signin">Sign in</a>
            <a href="links/type">Sing up</a>
        </div>
    </div>
</nav>