<!-- HEADER PANEL ACADEMIA -->
<header>
    <!-- MAIN HEADER -->
    <div id="header">
        <!-- container -->
        <div class="container ">
            <!-- row -->
            <div class="row ">
                <!-- LOGO -->
                <div class="col-md-3">
                    <div>
                        <a href="/links/PanelAcademia" class="logo">
                            <img src="/Resources/logo.png" width="35%" height="35%" loading="lazy"
                                alt="logo_GetDanceNow">
                        </a>
                    </div>
                </div>
                <!-- /LOGO -->
                <!-- SEARCH BAR -->
                <div class="col-auto">
                    <span class="text">Panel de la Academia</span>
                </div>
                <!-- /SEARCH BAR -->
                
                <!-- ACCOUNT -->
                <div class="col w-100  clearfix ">
                    <div class="header-ctn ">
                        <!-- Wishlist -->
                        <div>
                            <a href="/links/UpdateAcademy">
                                <i class="fa fa-user"></i>
                                <span>Mi cuenta</span>
                            </a>
                        </div>

                        <div>
                            <a href="/links/add">
                                <i class="fa fa-plus-circle "></i>
                                <span>Crear clase</span>
                            </a>
                        </div>
                        <!-- /Wishlist -->

                        <!-- Mi cuenta -->
                        <div>
                            <a href="/logout">
                                <i class="fa fa-sign-out"></i>
                                <span>Cerrar sesión</span>
                            </a>
                        </div>
                        <!-- /Mi cuenta -->
                    </div>
                </div>
                <!-- /ACCOUNT -->
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </div>
    <!-- /MAIN HEADER -->
</header>
