<header>
    <!-- MAIN HEADER -->
    <div id="header">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- LOGO -->
                <div class="col-md-12">
                    <div>
                        <a class="logo">
                            <img src="/Resources/logo.png" width="8%" height="8%" loading="lazy"
                                alt="logo_GetDanceNow">
                        </a>
                    </div>
                </div>
                <!-- /LOGO -->
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </div>
    <!-- /MAIN HEADER -->
</header>




