<header>
    <nav class="navbar navbar-expand-lg navbar-light  bg-dark">
            <img src="./Resources/Logo1.png" width="10%" height="10%" alt="error" loading="lazy">
            <div class="collapse navbar-collapse ml-3" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active ">
                        <a class="nav-link text-light" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active ">
                        <a class="nav-link text-light" href="/links/add">Crear clase <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active ">
                        <a class="nav-link text-light" href="/links/DeleteAcademy">Crear clase <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </nav>
</header>