 {{> navAcademy}}
 <section>
            <h1 class="text-light text-center mt-4">Eliminar Academia</h1>
            <div class="card mx-auto mt-5" style="width: 90%; margin-bottom: 150px;">
                <div class="card-body">
                    <form method="POST" action="/links/DeleteAcademy">

                        <div class="row mt-4 ml-4 mr-4">
                            <h6><label>Nombre de la academia</label></h6>
                            <input id="academiname" type="text" class="form-control" placeholder="Nombre de la academia" value="{{academy.nombre}}" disabled >
                        </div>

                        <div class="row mt-4 ml-2">
                            <div class="col">
                                <h6><label>Contacto</label></h6>
                                <input id="contact" type="text" class="form-control" placeholder="Contacto" value="Contacto" disabled>
                            </div>
                            <div class="col mr-4">
                                <h6><label>Teléfono</label></h6>
                                <input id="number" type="text" class="form-control" placeholder="Teléfono" value="{{academy.numero}}" disabled>
                            </div>
                        </div>

                        <div class="row mt-4 ml-4 mr-4">
                            <h6><label>Dirección</label></h6>
                            <input id="direction" type="text" class="form-control" placeholder="Dirección" value="{{academy.direction}}" disabled>
                        </div>

                        <div class="row mt-4 ml-4">
                            <h4 class="mt-2"> Descripción</h4>
                        </div>
                        <div class="row mt-2 ml-4 mr-4">
                            <textarea id="descripcion" cols="150" rows="4" disabled>{{academy.descripcion}} </textarea>
                        </div>

                        <div class="row mt-3 ml-4">
                            <button type="button" class="btn-hover btn btn-danger color-8" data-toggle="modal" data-target="#myModal">Eliminar</button>
                             <a class="btn btn-info text-light" href="/links/PanelAcademia">Cancelar</a>
                            <!-- The Modal -->
                            <div class="modal fade" id="myModal">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                    
                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                            <h4 class="modal-title">¿Está seguro que desea eliminar la academia?</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
                    
                                        <!-- Modal body -->
                                        <div class="modal-body">
                                            Se perderán todos los datos y no podrán ser recuperados.
                                        </div>
                    
                                        <!-- Modal footer -->
                                        <div class="modal-footer">
                    
                                            <input type="submit" value="Eliminar" id="Delete" class="btn btn-danger" />
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                        </div>
                    
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                    </form>
                </div>
            </div>
        </section>