<link rel="stylesheet" href="/css/index.css">
<link href="https://fonts.googleapis.com/css2?family=Redressed&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Work+Sans:ital,wght@1,200&display=swap" rel="stylesheet"> 

{{>indexnav}}

<div class="text-image">
  <p class="animate__animated animate__heartBeat my-element animate__infinite ">Expresa lo que sientes a traves del
    baile</p>
</div>

<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/Resources/index-1.jpg" class="d-block w-100" alt="/Resources/index-1.jpg">
    </div>
    <div class="carousel-item">
      <img src="/Resources/index-2.jpg" class="d-block w-100" alt="/Resources/index-1.jpg">
    </div>
    <div class="carousel-item">
      <img src="/Resources/index-3.jpg" class="d-block w-100" alt="/Resources/index-1.jpg">
    </div>
  </div>
</div>

<div class="valores">
  <div class="valores-text">
    <h3>Mision</h3>
    <p>Dar a conocer las academias de baile que se encuentras cerca de los usuarios ubicandolos a travez de un mapa para 
      tener una mejor informacion de las academias y poder hacer sus pagos a treavez de 
      nuestra aplicacion web para que puedan disfrutar de lo que mas aman.
    </p>
  </div>
  <div class="valores-text">
    <h3>Visión</h3>
    <p>Ser la mejor aplicacion referente a la busqueda de academias y poder crecer de manera que
      podamos incluir otros hobbies a nuestra aplicacion para que todos puedan disfrutar de lo que mas aman.
    </p>
  </div>
</div>


<div class="info">
  <h1>Nuesto Objetivo</h1>
  <p>
    Desarrollar un software que permita a las personas encontrar academias cerca de su localidad y de igual manera poder
    realizar una suscripción a las clases de bailes. </p>
</div>

<script src="https://unpkg.com/scrollreveal"></script>
<script src="/js/index.js"></script>