<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="/css/map.css">
</head>

<body>

    <button id="ubicate" class="btn-ubicate fa fa-dot-circle-o"></button id="ubicate">
    <div class="map-templete" id="map-template" style="height: 100%;">

    </div>
    
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="/js/map.js"></script>
</body>