<head>
    <link rel="stylesheet" href="/css/type.css">
</head>
{{> navigation}}
<body>
        <h1 class="text-light text-center">!Bienvenido a GetDanceNow!</h1>
    <h5 class="text-light text-center">Seleccione su tipo de registro</h5><br>

    <section class="hero-section">
        <div class="card-grid text-center">
            <a class="card text-center" href="#">
                <div class="card__background" style="background-image: url(https://www.xtrafondos.com/wallpapers/resized/chica-anime-con-ojos-morados-con-tapabocas-5525.jpg?s=large)"></div>
                <div class="card__content w-100">
                    <h3 class="card__heading">Estudiante</h3>
                    <p class="card__category">Podrás:</p><br>
                    <p class="card__category">- Encontrar las academias más cerca de tí.</p>
                    <p class="card__category">- Inscribirte a los cursos que ofrecen.</p><br>
                </div>
            </a>

            <a class="card " href="/links/AcademySignup">
                <div class="card__background" style="background-image: url(https://www.xtrafondos.com/wallpapers/resized/chica-anime-con-ojos-rojos-y-mascara-5526.jpg?s=large)"></div>
                <div class="card__content text-center w-100">
                    <h3 class="card__heading">Academia</h3><br>
                    <p class="card__category">Podrás:</p><br>
                    <p class="card__category">- Administrar sus clases.</p>
                    <p class="card__category">- Promocionarse.</p><br>
                </div>
            </a>
            <div>
    </section>

</body>