<head>
    <link rel="stylesheet" href="/css/index-style.css">
</head>
{{> navigation}}
<div class="container mt-4">
    
        <div class="row">
            <div class="card mx-auto" style="width: 30%; margin-bottom: 50px;">
                <div class="card-body mx-auto">
                    {{>Messages}}
                    <h2 class="text-center">Inicio de sesión</h2><br>
                    <form action="/signin" method="POST" class="login-form">

                        <div class="form-group">
                            <label class="text-uppercase">Usuario</label>
                            <input type="text" name="Correo" id="Correo" class="form-control" placeholder="Usuario" required>
                        </div>

                        <div class="form-group">
                            <label class="text-uppercase">Contraseña</label>
                            <input type="password" name="Password" id="Password" class="form-control" placeholder="Contraseña" required>
                        </div>
                        <div class="col mt-4">
                            <input type="submit" id="Register" class="ClaseBoton form-control wt-4" value="Iniciar sesión"></input>
                        </div>
                        <div class="col mt-3">
                            <a href="/links/type" class="ClaseBoton form-control wt-4">Crear cuenta nueva</a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-8 banner-sec">
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            </ol>
                            <div class="carousel-inner" role="listbox" style="width: 800px;">
                                <div class="carousel-item active">
                                    <img class="d-block img-fluid" src="./Resources/5.jpg" alt="First slide">
                                    <div class="carousel-caption d-none d-md-block">
                                        <div class="banner-text">
                                            <h2 class="text-light">¡La vida es mejor bailando!</h2>
                                            <p>Utiliza nuestra API especialmente diseñada para la ubicar lugares donde puedas aprender a bailar.
                                                encontraras eventos cerca de ti y compartir tu opinión acerca de él.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block img-fluid" src="./Resources/5.jpg" alt="First slide">
                                    <div class="carousel-caption d-none d-md-block">
                                        <div class="banner-text">
                                            <h2 class="text-light">¡La vida es mejor bailando!</h2>
                                            <p>Utiliza nuestra API especialmente diseñada para la ubicar lugares donde puedas aprender a bailar.
                                                encontraras eventos cerca de ti y compartir tu opinión acerca de él.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
    </div>
    <script src="/js/Login.js"></script>